$button_width:220px;
$dot_size:10px;
$answer_width: 211px;
$quiz_next_pages_padding:60px;
$quiz_start_page_button_color:springgreen;
$quiz_contact_block_width: 450px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.glare {
    position: absolute;
    height: 150%;
    top: -25%;
    left: 0;
    width: 20px;
    animation-name: glare;
    animation-duration: 7s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    background-color: white;
}


@keyframes glare {
    0% {
        opacity: 0;
        transform: translateX(-$dot_size) rotate(20deg);
    }

    10% {
        transform: translateX($button_width + $dot_size * 2) rotate(20deg);
        opacity: 1;
    }

    11% {
        opacity: 0;

    }

    100% {
        opacity: 0;
    }

}

.quiz {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    @media screen and (max-width:600px) {

        .quiz_progressbar_text {
            text-align: center;
        }

        .quiz_progress_button_next_block {
            justify-content: center;

            .quiz_button_wrapper {
                position: relative !important;
                margin-top: 10px;
            }

            .quiz_progressbar {
                margin-right: 0 !important;
            }
        }
    }
}

.quiz_content {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 1000px;
    overflow: hidden;
    max-height: 100%;

    .quiz_start_page,
    .quiz_end_page {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .quiz_start_page,
    .quiz_end_page {
        z-index: 2;
    }

    .quiz_start_page,
    .quiz_start_page .quiz_start_page_content,
    .quiz_next_pages,
    .quiz_end_page .quiz_left_block,
    .quiz_end_page .quiz_right_block {
        background-color: #f2f3f7;
    }

    .quiz_start_page img,
    .quiz_start_page .quiz_start_page_content,
    .quiz_end_page .quiz_left_block,
    .quiz_end_page .quiz_right_block {
        transition: transform 0.7s ease;
    }

    .quiz_start_page {

        display: flex;

        img {
            width: 60%;
            height: 100%;
            object-fit: cover;
        }


        .quiz_start_page_content {
            width: 40%;
            height: 100%;
            padding: 0 30px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            >*:not(:last-child) {
                margin-bottom: 25px;
            }

            h2 {
                color: rgb(42, 42, 42);
            }

            p {
                color: grey;
            }

            .quiz_start_page_button {
                overflow: hidden;
                position: relative;
                display: inline-block;
                padding: 10px 30px;
                border-radius: 40px;
                cursor: pointer;
                font-weight: bold;
                font-size: 20px;
                border: 2px solid $quiz_start_page_button_color;
                transition: background 0.4s, color 0.4s;

                color: white;
                background: $quiz_start_page_button_color;

                i {
                    margin-right: 5px;
                }

                &:hover {
                    color: $quiz_start_page_button_color;
                    background: inherit;
                }
            }
        }

        @media screen and (max-width:750px) {
            flex-direction: column;

            .quiz_start_page_content {
                padding: 20px 30px;
            }

            img,
            .quiz_start_page_content {
                width: 100%;
            }

            img {
                height: 300px;
            }
        }
    }

    .quiz_next_pages {
        z-index: 1;

        .quiz_header,
        .quiz_body,
        .quiz_body .quiz_question {
            margin-bottom: 20px;
        }

        max-height: 100%;
        overflow: auto;
        padding: 30px $quiz_next_pages_padding;
        box-sizing: border-box;

        // display: none;
        @media screen and (max-width:$answer_width + $quiz_next_pages_padding * 2) {
            padding: 10px;
        }
    }

    .quiz_end_page {
        display: flex;
        width: 0;
        color: grey;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        .quiz_left_block,
        .quiz_right_block {
            position: absolute;
            width: 50%;
            height: 100%;
        }

        .quiz_left_block {
            left: 0;
            transform: translateX(-100%);
        }

        .quiz_right_block {
            right: 0;
            transform: translateX(100%);
        }

        .quiz_end_page_content {
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 1;
            transition: opacity 0.5s;
            opacity: 0;

            h2 {
                text-align: center;
                font-size: 30px;
                margin-bottom: 20px;
            }

            .quiz_contact_block {
                display: flex;
                flex-direction: column;
                max-width: $quiz_contact_block_width;
                width: 100%;
                padding: 40px;
                border-radius: 15px;
                box-shadow: -15px -15px 15px rgba($color: white, $alpha: 0.2),
                    15px 15px 15px rgba($color: #2c2c2c, $alpha: 0.1),
                    inset -5px -5px 5px rgba($color: white, $alpha: 0.2),
                    inset 5px 5px 5px rgba($color: #2c2c2c, $alpha: 0.1);

                >*:not(:last-child) {
                    margin-bottom: 10px;
                }

                input[type=text] {
                    height: 45px;
                    font-size: 17px;
                    width: 100%;
                    padding: 10px 20px;
                    background: inherit;
                    border: 2px solid grey;
                }

                input,
                .quiz_end_page_button {
                    border-radius: 5px;
                }

                a {
                    color: rgb(26, 169, 212);
                }

                .quiz_end_page_policity {
                    display: flex;

                    input {
                        margin-right: 5px;
                    }
                }

                .quiz_end_page_button {
                    padding: 10px 40px;
                    font-size: 18px;
                    cursor: pointer;
                    text-align: center;
                    color: rgb(4, 207, 4);
                    font-weight: 500;
                    // letter-spacing: 2px;
                    box-shadow:
                        -2px -2px 8px rgba($color: white, $alpha: 1),
                        -2px -2px 12px rgba($color: white, $alpha: 0.5),
                        inset 2px 2px 4px rgba($color: white, $alpha: 0.1),
                        2px 2px 8px rgba($color: black, $alpha: 0.15);

                    &:hover {
                        box-shadow:
                            inset -2px -2px 8px rgba($color: white, $alpha: 1),
                            inset -2px -2px 12px rgba($color: white, $alpha: 0.5),
                            inset 2px 2px 4px rgba($color: white, $alpha: 0.1),
                            inset 2px 2px 8px rgba($color: black, $alpha: 0.15);

                        span {
                            display: inline-block;
                            transform: scale(0.98);
                        }
                    }
                }
            }

            @media screen and (max-width:$quiz_contact_block_width) {
                h2 {
                    font-size: 22px;
                    margin-bottom: 0;
                }

                .quiz_contact_block {
                    padding: 10px;
                    box-shadow: none;
                }
            }
        }
    }

    * {
        font-family: sans-serif;
    }

    .fa-times {
        color: #2a2a2a;
        position: absolute;
        z-index: 3;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
    }

    .quiz_footer {
        width: 100%;

        .quiz_progress_button_next_block {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            align-items: center;
            position: relative;
            margin-bottom: 20px;

            .quiz_button_wrapper {
                position: absolute;
                right: 0;
                display: flex;
                justify-content: end;

                .quiz_button_next {
                    margin-left: 10px;
                    padding: 0 40px;
                    height: 40px;
                    background-color: springgreen;
                    box-shadow: 0 0 15px rgba(0, 255, 127, 0.5);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-family: sans-serif;
                    font-weight: bold;
                    font-size: 17px;
                    cursor: pointer;
                    border: 1px solid rgb(11, 228, 119);
                }

                .quiz_button_back {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 40px;
                    width: 40px;
                    border-radius: 10%;
                    box-shadow: 0 0 15px rgba(197, 184, 184, 0.5);
                    background-color: rgb(197, 184, 184);


                    &[disabled] {
                        cursor: not-allowed !important;
                    }

                    &:not([disabled]) {
                        cursor: pointer;
                    }

                    i {
                        color: white;
                        font-size: 25px;
                    }
                }

            }

            .quiz_progressbar {
                margin-right: 220px;
                width: 100%;
                height: 10px;
                background-color: rgba(0, 255, 128, 0.4);
                box-shadow: 0 0 5px rgba(0, 255, 128, 0.4);
                .quiz_progressbar_filling {
                    height: 100%;
                    width: 0;
                    transition: width 0.5s;
                    background: springgreen;
                }
            }

        }
    }

    .quiz_progressbar_text {
        flex-basis: 100%;
        font-size: 15px;
        margin-bottom: 5px;

        span {
            color: rgb(0, 177, 88);
            font-weight: bold;
        }
    }

    .quiz_header_text,
    .quiz_question,
    .quiz_answer_text {
        text-align: center;
        color: #2a2a2a;
    }

    .wrapper_quiz_slider {
        overflow: hidden;
        position: relative;
        width: 100%;

        .fa-chevron-left,
        .fa-chevron-right {
            content: "";
            z-index: 1;
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            background-color: white;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            font-size: 20px;
            color: rgba(0, 255, 128, 1);
            border: 1px solid rgba(0, 255, 128, 0.4);
        }

        .fa-chevron-right {
            right: 2px;
        }

        .fa-chevron-left {
            left: 2px;
        }

        .quiz_slider {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            position: relative;
            transition: right 0.5s ease;

            .quiz_answer {
                background-color: rgb(221, 221, 221);
                flex-basis: $answer_width;
                box-sizing: border-box;
                border-radius: 10px;
                padding: 10px;

                img {
                    width: 100%;
                    height: 85%;
                    object-fit: cover;
                }

                input {
                    position: absolute;
                    height: 20px;
                    width: 20px;
                }
            }

            .quiz_answer_text {
                flex-basis: 100%;
                text-align: center;
            }
        }

    }

    .quiz_body {
        .quiz_step {
            & {
                transition: transform 0.3s;
            }

            &:not(:first-child) {
                transform: scale(0.05);
                display: none;
            }
        }
    }



}